.page-calendar
	
	.main

		/* General rules for font */
		h2
			font-family: 'Josefin Slab'
			font-size: 2.75em
			color: #c1ab84
			margin: .5em auto .5em auto
			text-align: center

		h3
			font-size: 1.5em
			color: #178caf
			margin: .5em auto 0 auto
			text-align: center

		p
			text-align: center
			font-size: 1.25em	

		.entry-title
			font-family: 'Josefin Slab'
			font-size: 3em
			background-color: #c1ab84
			text-align: center
			padding: 1.5% 0 1.5% 0

			a
				color: #fff
				text-decoration: none
				text-transform: uppercase
				letter-spacing: 3px


		/* Layout stylings */		
		.top-section
			clear: both

			.all-trips
				float: left
				width: 50%
				background-color: #fff9ee
				height: 500px

			.fall-trips
				float: left
				width: 50%
				background-color: #d0eaf2
				height: 500px

		.mid-section
			clear: both

			.winter-trips
				float: left
				width: 50%
				background-color: #d0eaf2
				height: 500px

			.mlk-trips
				float: left
				width: 50%
				background-color: #fff9ee
				height: 500px

		.bottom-section
			clear: both

			.international-trips
				float: left
				width: 50%
				background-color: #fff9ee
				height: 500px				

			.spring-trips
				float: left
				width: 50%
				background-color: #d0eaf2
				height: 500px