.page-contact
	background-color: #fff9ee

	.content-area

		h1
			background-color: #c1ab84
			padding: 1em
			text-align: center
			font-family: 'Josefin Slab'
			color: #fff9ee
			font-size: 2.5em
			letter-spacing: 4px

		.contact-wrap

			h2
				font-family: 'Josefin Slab'
				font-size: 2.5em
				color: #178caf
				text-align: center

			p
				text-align: justify
				padding-left: 38%
				padding-top: 5%

			.contact
				float: left
				margin: 0 auto
				width: 33.33%
				padding: 3%

			.find-us
				float: left
				margin: 0 auto
				width: 33.33%
				padding: 3%

			.follow-us
				float: left
				margin: 0 auto
				width: 33.33%
				padding: 3%

		.main
			clear: both
			margin-top: 10%

			.entry-title
				display: none

			h2
				font-family: 'Josefin Slab'
				font-size: 2.5em
				background-color: #178caf
				color: #fff9ee
				text-align: center
				padding: .5% 0 .5% 0
