.page-contact
	background-color: #fff9ee

	.content-area
		margin-bottom: 100px

		.contact-wrap

			h2
				font-family: 'Josefin Slab'
				font-size: 2.5em
				color: #178caf
				text-align: center

			p
				text-align: justify
				line-spacing: 5px
				margin-top: 5%
				font-size: 1.25em

			.contact
				float: left
				margin: 0 auto
				width: 33.33%
				padding: 5% 9% 5% 9%

				span
					font-weight: bold

			.find-us
				float: left
				margin: 0 auto
				width: 33.33%
				padding: 5% 9% 5% 9%

			.follow-us
				float: left
				margin: 0 auto
				width: 33.33%
				padding: 5% 9% 5% 9%

				.facebook-btn, .twitter-btn, .instagram-btn
					clear: both

				img
					float: left
					height: 40px

				p
					float: left				

		.main
			clear: both

			.entry-title
				display: none

			h2
				font-family: 'Josefin Slab'
				font-size: 2.5em
				background-color: #178caf
				color: #fff9ee
				text-align: center
				padding: .5% 0 .5% 0

			h3
				font-family: 'Josefin Slab'
				font-size: 2.5em
				color: #5eb4cc

			ul
				margin: 50px 8% 50px 8%

				li
					margin-top: 5%
					text-align: justify
					font-size: 1.25em
			