.page-home

	.content-area

		.tagline
			text-align: center
			font-size: 2.25em
			color: #fff
			background-color: #051d24
			padding: .5em 0 .5em 0
			font-family: 'Josefin Slab'
			letter-spacing: 3px

		.header-slider
			height: 600px

		.icons
			background-color: #5eb4cc
			height: 250px

			.plane-wrap
				height: 200px
				width: 200px
				float: left
				background-image: url("resources/plane-dark.png")
				background-size: 100% auto


			.footprints-wrap
				height: 200px
				width: 200px
				float: left
				margin: 0 5% 0 5%
				background-image: url("resources/footprints-dark.png")
				background-size: 100% auto

			.case-wrap
				height: 200px
				width: 200px
				margin: 0 5% 0 5%
				float: left
				background-image: url("resources/case-dark.png")
				background-size: 100% auto

		.main
			background-color: #fff9ee
			padding: 8%

			.entry-title

				a
					font-size: 3em
					text-decoration: none
					color: #c1ab84
					font-family: 'Josefin Slab'

			p
				font-size: 2em
				color: #051d24

		.video
			background-color: #051d24
			height: 500px