.page-home

	.content-area

		.tagline
			text-align: center
			font-size: 2.25em
			color: #fff
			background-color: #051d24
			padding: .5em 0 .5em 0
			font-family: 'Josefin Slab'
			letter-spacing: 3px

		.header-slider
			height: 600px

		.icons
			background-color: #5eb4cc
			height: 210px
			position: relative

			.plane-wrap
				height: 200px
				width: 200px
				float: left
				margin-left: 200px
				background-image: url("resources/plane-dark.png")

			.footprints-wrap
				height: 200px
				width: 200px
				margin: 0 auto 0 auto
				background-image: url("resources/footprints-dark.png")

			.case-wrap
				height: 200px
				width: 200px
				position: absolute
				top: 0
				right: 200px
				float: left
				background-image: url("resources/case-dark.png")

		.main
			background-color: #fff9ee
			padding: 8% 10% 8% 10%
			text-align: justify

			.entry-title

				a
					font-size: 3em
					text-decoration: none
					color: #c1ab84
					font-family: 'Josefin Slab'

			p
				font-size: 2em
				color: #051d24

		.video
			background-color: #051d24
			height: 500px

			.video-wrap
				float: left
				margin: 3% 2% 0 10%

			.join-wrap
				float: left
				margin: 3% 0 0 7%
				padding: 2%

				/* selector to make general */
				h1
					font-family: 'Josefin Slab'
					font-size: 4em
					color: #c1ab84
					letter-spacing: 2px

				ul
					color: #fff9ee
					font-size: 1.5em

		.contact-social
			height: 500px
			text-align: center
			background-color: #d0eaf2
			margin: 0 auto
			width: 100%

			.contact-wrap
				float: left
				margin: 0 auto
				font-size: 1.5em
				width: 50%

				h1
					font-family: 'Josefin Slab'
					font-size: 3em
					color: #c1ab84
					letter-spacing: 2px
					margin-bottom: 5%
					margin-top: 7%

				span
					font-weight: bold

			.social-wrap
				float: left
				background-color:  #fff9ee
				width: 50%
				margin: 0 auto
				height: 100%

				h1
					font-family: 'Josefin Slab'
					font-size: 5.25em
					color: #c1ab84
					letter-spacing: 2px
					margin-bottom: 5%
					margin-top: 6%