nav.main-menu

	display: block
	width: 100%
	
	a
		display: block
		text-decoration: none
	

nav.main-menu.full
	text-align: center

	ul
		display: block
		width: 1200px
		margin: auto
		max-width: 100%
		padding-bottom: 20px
		font-family: 'Josefin Slab'

		li.current

			a
				font-weight: 600

				&:hover
					color: $abpBlack

		li
			display: inline-block
			padding: 0 2em

			&:nth-child(3)
				margin-right: 45em

			a
				font-size: 2.25em
				color: white
				transition: color 0.25s ease-in-out
	
	.compact-menu
		display: none
	

nav.main-menu.compact

	ul
		display: none
		width: 100%
		text-align: center
		padding: 3%
	
	li
		display: block
		padding: 3%
		font-family: 'Josefin Slab'
		font-size: 2.25em
		border-bottom: 2px #147e9d solid

		&:last-child
			border-bottom: none

		a
			color: #fff
	
	.compact-menu
		display: block
		text-align: center
		font-size: 3em
		font-family: 'Josefin Slab'
		padding: 2%
		background-color: #147e9d
		margin-top: 4%

		a
			color: #fff


.screen-reader-text
	display: none

@media screen and (max-width: 1149px) 

	nav.main-menu.full
		ul
			li

				&:nth-child(3)
					margin-right: 30em

@media screen and (max-width: 999px)

	nav.main-menu.full
		ul
			padding-top: 20px

			li

				&:nth-child(3)
					margin-right: 0

